<h3>Tratar valores nulos nos dados de gatos utilizando média de outro dataset</h3>

In [1]:
import pandas as pd
dataset_dogs = pd.read_csv('../data/NYC_Dog_Licensing_Dataset.csv')

<b>Removendo colunas que não iremos utilizar</b>

In [2]:
dataset_dogs.drop(['RowNumber', 'CensusTract2010', 'NTA', 'CityCouncilDistrict', 'CommunityDistrict', 'CongressionalDistrict', 'StateSenatorialDistrict', 'LicenseIssuedDate', 'LicenseExpiredDate'], axis=1, inplace=True)
dataset_dogs.drop(dataset_dogs.index[67146:122203], axis=0, inplace=True)

In [3]:
from datetime import datetime

# substituindo os valores do campo AnimalBirthMonth para retirar a hora deixa somente a data
dataset_dogs['AnimalBirthMonth'] = pd.to_datetime(dataset_dogs['AnimalBirthMonth'], format="%d/%m/%Y %H:%M:%S %p")
dataset_dogs['AnimalBirthMonth'] = pd.to_datetime(dataset_dogs['AnimalBirthMonth'])
dataset_dogs['AnimalBirthMonth'] = dataset_dogs['AnimalBirthMonth'].map(lambda x: datetime.strftime(x,"%d/%m/%Y"), na_action='ignore')

In [4]:
dataset_dogs.to_csv('../data/dogs_clean.csv')

In [5]:
import csv

dicionario_ceps = {}

with open('../data/ceps.txt', 'r') as file:
    csvreader = csv.reader(file, delimiter=';')
    for linha in csvreader:
        dicionario_ceps[linha[0]] = linha

In [6]:
import numpy as np
np.random.seed(77)

chaves_dicionario = np.array(list(dicionario_ceps.keys()))

def get_cep():
    key = np.random.choice(chaves_dicionario)
    info_cep = dicionario_ceps[f'{key}']
    cep = info_cep[0]
    return cep

def get_cidade(cep):
    return dicionario_ceps[cep][1]

dataset_dogs["ZipCode"] = dataset_dogs["ZipCode"].map(lambda _: get_cep())
dataset_dogs["Borough"] = dataset_dogs["ZipCode"].map(lambda cep: get_cidade(cep))

dataset_dogs.to_csv("../data/dogs_clean.csv")

In [7]:
import os

dir_atual = os.getcwd()
dir_destino = os.path.abspath(os.path.join(dir_atual, os.pardir, '/home/joseph/Documentos/sptech/tcc/grupo11-4cco-tcc/src/inteligencia_artificial/train/'))

os.chdir(dir_destino)

arquivos_jpg = [f for f in os.listdir() if f.endswith('.jpg')]
fotos = set(arquivos_jpg)

In [8]:
dataset_breed_dogs = pd.read_csv('../../data/labels.csv')

In [9]:
dataset_breed_dogs_backup = dataset_breed_dogs

In [10]:
import base64

def is_base64(s):
    try:
        base64.b64decode(s)
        return True
    except Exception:
        return False

<h3>Adequação das raças de cachorros</h3>

In [11]:
breed_sample = dataset_breed_dogs.sample(n=len(dataset_dogs), replace=True)

# redefina o índice do DataFrame de raças
breed_sample = breed_sample.reset_index(drop=True)

# atualize a coluna 'BreedName' do DataFrame de cães com a coluna 'breed' do DataFrame de raças amostrado
dataset_dogs['BreedName'] = breed_sample['breed']

# salve o DataFrame atualizado em um novo arquivo CSV
dataset_dogs.to_csv('../../data/dogs_clean.csv', index=False)

In [12]:
dataset_dogs['BreedName'] = dataset_dogs['BreedName'].replace('Unknown', pd.NA)
breed_mean = dataset_dogs['BreedName'].dropna().mode()[0]
dataset_dogs['BreedName'] = dataset_dogs['BreedName'].fillna(breed_mean)

dataset_dogs.to_csv('../../data/dogs_clean.csv')

In [13]:
dataset_dogs['Image'] = None

In [14]:
dataset_dogs.head(3)

,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,Image
0,SHADOW,M,01/01/2000,silky_terrier,Gravataí/RS,94055030,None
1,ROCCO,M,10/01/2011,bull_mastiff,Várzea Grande/MT,78115646,None
2,LUIGI,M,09/01/2005,pembroke,Mossoró/RN,59633636,None

In [15]:
import asyncio
import aiofiles
import base64
import os
from PIL import Image
from tqdm import tqdm
import warnings

async def find_image_from_name_dog(breed_name, dataset_breed_dogs, arquivos_jpg, dir_destino):
    if breed_name == 'Unknown' or not breed_name:
        return None, dataset_breed_dogs
    breed_name_lower = str(breed_name).lower()
    breeds_founded = dataset_breed_dogs[dataset_breed_dogs['breed'].str.lower().str.contains(breed_name_lower, case=False, regex=False)]
    
    if breeds_founded.empty:
        dataset_breed_dogs = dataset_breed_dogs_backup
        return None, dataset_breed_dogs
    
    first_breed = breeds_founded.iloc[0]
    df = dataset_breed_dogs.drop(breeds_founded.index[0])
    info_breed = first_breed.to_dict()
    indice_arquivo = arquivos_jpg.index(f"{info_breed['id']}.jpg")
    nome_arquivo = arquivos_jpg[indice_arquivo]
    caminho_completo = os.path.join(dir_destino, nome_arquivo)
    async with aiofiles.open(caminho_completo, mode='rb') as f:
        img_bytes = await f.read()
    return base64.b64encode(img_bytes).decode('utf-8'), df


async def main(dataset_dogs, dataset_breed_dogs, arquivos_jpg, dir_destino):
    for index, row in tqdm(dataset_dogs.iterrows(), total=len(dataset_dogs)):
        image_base64, df = await find_image_from_name_dog(row['BreedName'], dataset_breed_dogs, arquivos_jpg, dir_destino)
        dataset_breed_dogs = df
        if not is_base64(row["Image"]):
            dataset_dogs.loc[index, 'Image'] = image_base64


try:
    asyncio.run(await main(dataset_dogs, dataset_breed_dogs, arquivos_jpg, dir_destino))
except Exception as error:
    warnings.warn(str(error), RuntimeWarning)

100%|██████████| 67146/67146 [06:10<00:00, 180.99it/s]
/tmp/ipykernel_20759/2923921787.py:41: RuntimeWarning: asyncio.run() cannot be called from a running event loop
  warnings.warn(str(error), RuntimeWarning)

In [16]:
dataset_dogs.to_csv('../../data/dogs_clean.csv')

In [17]:
dataset_breed_dogs.tail(2)

                                     id                     breed
10220  ffe5f6d8e2bff356e9482a80a6e29aac        miniature_pinscher
10221  fff43b07992508bc822f33d8ffd902ae  chesapeake_bay_retriever

In [18]:
dataset_dogs.head(10)

,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,Image
0,SHADOW,M,01/01/2000,silky_terrier,Gravataí/RS,94055030,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
1,ROCCO,M,10/01/2011,bull_mastiff,Várzea Grande/MT,78115646,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
2,LUIGI,M,09/01/2005,pembroke,Mossoró/RN,59633636,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
3,PETUNIA,F,08/01/2013,cardigan,Mossoró/RN,59615377,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
4,ROMEO,M,10/01/2008,rhodesian_ridgeback,Itaguaí/RJ,23840240,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
5,BRANDY,M,01/01/2004,tibetan_mastiff,São Bernardo do Campo/SP,09821190,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
6,SAM,M,05/01/2011,chihuahua,Florianópolis/SC,88090650,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
7,MAY,F,05/01/2004,soft-coated_wheaten_terrier,Canoas/RS,92032694,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
8,RUBY,F,04/01/2010,clumber,Vitória da Conquista/BA,45066012,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...
9,LEO,M,01/01/2014,lhasa,Porto Alegre/RS,91420400,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAoHBwgHBgoICA...

In [19]:
dataset_dogs.to_csv('../../data/dogs_clean.csv')