<h3>Tratar valores nulos nos dados de gatos utilizando média de outro dataset</h3>

In [35]:
import pandas as pd
import numpy as np

dataset_final = pd.read_csv('../data/dataset_union.csv')

/tmp/ipykernel_26530/3581206219.py:4: DtypeWarning: Columns (3,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset_final = pd.read_csv('../data/dataset_union.csv')

In [36]:
dataset_final.columns

Index(['Unnamed: 0.1', 'ID', 'Unnamed: 0', 'AnimalName', 'AnimalGender',
       'AnimalBirthMonth', 'BreedName', 'Borough', 'ZipCode', 'Type', 'Image'],
      dtype='object')

In [37]:
dataset_final = dataset_final.drop(['Unnamed: 0.1', 'ID', 'Unnamed: 0'], axis=1)

In [38]:
dataset_names_cat = pd.read_csv('../data/2022-licenced-cat-names.csv')

In [39]:
nomesGato = np.array(dataset_names_cat['names'])

def getNameCat():
    return np.random.choice(nomesGato)

dataset_final['AnimalName'] = dataset_final['AnimalName'].map(lambda name: getNameCat() if not name else name)

In [40]:
mesGato = np.array(dataset_final['AnimalBirthMonth'])

mesGatoFiltrado = list(filter(lambda mes: mes != None, mesGato))

def getBirthMonth():
    return np.random.choice(mesGatoFiltrado)

dataset_final['AnimalBirthMonth'] = dataset_final['AnimalBirthMonth'].map(lambda month: getBirthMonth() if not month else month)

In [41]:
dataset_final.insert(0, 'ID', range(1, len(dataset_final) + 1))
dataset_final.to_csv("../data/dataset_union.csv")

In [42]:
dataset_final.to_csv('../data/dataset_union.csv', index=False)

In [43]:
dataset_final.head()

,ID,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,Type,Image
0,1,SHADOW,M,01/01/2000,Beagle,Gravataí/RS,94055030,Dog,NaN
1,2,ROCCO,M,10/01/2011,Boxer,Várzea Grande/MT,78115646,Dog,NaN
2,3,LUIGI,M,09/01/2005,Maltese,Mossoró/RN,59633636,Dog,NaN
3,4,PETUNIA,F,08/01/2013,Pug,Mossoró/RN,59615377,Dog,NaN
4,5,ROMEO,M,10/01/2008,Maltese,Itaguaí/RJ,23840240,Dog,NaN